$themes:(
    light:(
      backgroundColor: #F4F4F4,
      headerBackgroundColor: #F8F8F8,
      textColorTransparency: rgba(38, 28, 60, 0.4),
      optionsBackgroundColor: #EEE0E1, 
      ),
      dark:(
        backgroundColor: #373738,
        headerBackgroundColor: #080808,
        textColorTransparency: rgba(255, 255, 255, 0.4),
        optionsBackgroundColor: #5B4E4E,
    ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    :global(.theme-#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key)
{
    @return map-get($theme-map, $key)
}
