@import '../../styles/theme-variable.scss';
.container
{
    width: 20vw;//280px;
    font-family: 'Black Ops One';
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    @include themify($themes)
    {
        color: themed("textColor40");
    }
}
.container .select_container
{
    cursor: pointer;
    display: flex;
    height: 5vw;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2vw 0 2vw;
    //padding: 20px;
    border-radius: 8px;
    background-color: rgba(216, 182, 182, 0.4); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container .select_container .select_text
{
    font-size: 1.1vw;
}

.container .select_container .select_image
{
    width: 2vw;
    transform: rotate(-180deg);
    transition: transform 0.3s ease-out;
}
.container .select_container .select_image.hideOptMenu
{
    transform: rotate(0);
    transition: transform 0.3s ease-in;
}

.container .options_container
{
    position: absolute;
    width: 100%;
    top: 7vw;
    z-index: 5;
    max-height: 40vh;
    padding-bottom: 1vw;
    overflow-y: auto;
    @include themify($themes)
    {
        background-color: themed("optionsBackgroundColor");
    }
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform-origin: top;
    transform: scaleY(1);
    transition: transform 0.2s ease-in;
}

.container .options_container.hideOptMenu
{
    transform: scaleY(0);
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.container .options_container > div
{ 
    display: flex;
    align-items: center;
    margin-top: 5px;
    transition: opacity 0.8s ease-in;
    //margin-bottom: 1vw;
}

.container .options_container.hideOptMenu > div
{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.container .options_container .option_check
{
    width: 0;
    height: 0;
    opacity: 0;
}


.container .options_container .option_custom_check
{
    margin-left: 1vw;
    width: 3vw;
    height: 1vw;
    background: grey;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}
.container .options_container .option_custom_check::after
{
    content: '';
	position: absolute;
	top: 0.085vw;
	left: 0.4vw;
	width: 0.8vw;
	height: 0.8vw;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.option_check:checked + .option_custom_check {
	background-color: #bada55;
}

.option_check:checked + .option_custom_check:after {
	left: calc(100% - 0.5vw);
	transform: translateX(-100%);
}

.container .options_container .option_custom_check:active::after
{
    width: 1vw;
}


.container .options_container .option_text
{
    margin-left: 1vw;
    font-size: 1.1vw;
    flex: 1;
    cursor: pointer;
}
