@import "styles/theme-variable.scss";

.App {
  min-height: 100vh;
  height: 100%;
  padding-bottom: calc(5vh + 7vw);
  @include themify($themes) {
    background-color: themed("backgroundColor");
  }
}
